$primarycolor: #F7F6DC;
$secondarycolor: #df9c68; 
$secondarycolor-hover: #db7425;


body{
    margin: 0;
    padding: 0;
}

nav{
    padding: 24px;
    font-family: 'Yeseva One', cursive;
    font-size: 24px;
    background-color: #7FB77E;
    color: #F7F6DC;
}

#layout{
    margin: 0 1vw 0 1vw;
}

// card

// phone size potrait by default
.recipe-card-container{
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F7F6DC;
}

.recipe-img-container{
    background-color: #F7F6DC;
    padding: 12px 12px 0 12px; 
    border-radius: 10px;
}

.recipe-img{
    width: 100%;
    border-radius: 3%;
}

.recipe-content-container{
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.recipe-title{
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    margin-top: 0; 
}

.recipe-source, .recipe-summary, .recipe-detail-btn{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0; 
}

.recipe-source{
    color: rgb(172, 168, 168);
    font-size: 12px;
}

.recipe-summary{
    font-size: 14px;
}


#btnGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px 5vw 12px 5vw;
}

.btn{
    padding: 5px;
    border-radius: 5px;
    background-color: $secondarycolor;
    border: $secondarycolor 2px solid;
    color: $primarycolor;
    cursor: pointer;

    &:hover{
        background-color: $secondarycolor-hover;
    }
}

.stcomp{
    padding: 0;
}

.star{
    background: rgb(121, 121, 121);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left:2px;
    transition:transform 0.1s;
}
// from this blogpost : https://blog.lakbychance.com/implementing-a-star-rating-component-in-vanilla-js

.star-filled{
    background: rgb(254, 195, 0);
}

// layout - list by default

// grid layout on phone (phone size is by default)
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr; // has two column
    width: 100%;
}


// responsive 

// mobile size - by default

// tablet size 
@media screen and (max-width: 960px) and (min-width: 768px){

}

// desktop size
@media screen and (max-width: 1920px) and (min-width: 1024px){
    #layout{
        margin: 0 6vw 0 5vw;
    }
    // each card will have a landscape view(in phone size - potrait view)
    .recipe-card-container{
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
    }
    
    .recipe-img-container{
        padding-right: 12px;
        width: 30%
    }
    
    .recipe-content-container{
        width: 70%;
    }

    // if it is desktop size, the gallery will be in 3 column
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

        // in the gallery, the container will be turn back to potrait mode
        .recipe-card-container{
            flex-direction: column;
            justify-content: center;
        }

        .recipe-img-container{
            width: 100%;
            height: 40%;
            margin-bottom: 32px ;
        }

        .recipe-content-container{
            width: 100%;
            height: 60%;
        }
    }
}