body {
  margin: 0;
  padding: 0;
  position: relative;
}

#background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  padding: 0 10px 0 10px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 10px 10px 3px #e1e0e0;
          box-shadow: 10px 10px 3px #e1e0e0;
}

#modal h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
}

#modal .quoteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 0 20px;
  height: 20vh;
}

#modal .quoteContainer .quote {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
}

#modal .quoteContainer .author {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 16px;
}

#modal .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#modal .btnContainer .btn {
  padding: 8px;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: whitesmoke;
  border: 1px black solid;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px #b0b0b0;
          box-shadow: 3px 3px 3px #b0b0b0;
}

#modal .btnContainer .btn:hover {
  color: black;
  background-color: whitesmoke;
}

#modal .btnContainer .btn:active {
  background-color: whitesmoke;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#modal #creds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 16px;
}

#modal #creds p {
  font-family: 'Lato', sans-serif;
  margin: 3px auto 3px auto;
}

#modal #creds p a {
  color: #9d9d9d;
}

#modal #creds p a:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */